{% extends 'base.html.twig' %}

{% block title %}Edit Excuse{% endblock %}

{% block body %}
    <h1>Edit Excuse</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_excuse_index') }}">back to list</a>
{% endblock %}
